@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter, sans-serif;
    background-color: #0a0a0b;
    color: #adadad; 
}

h1, h2, h3, h4, h5, h5, h6{
    color: #fff;
    font-family: Prata, sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10em;
}

header img{
    display: none;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

button{
    padding: 15px 20px 15px 20px;
    width: 150px;
    font-size: 16px;
    font-family: Prata, sans-serif;
    background-color: #fbe850;
}

#conteint{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#presentation-title{
    width: 40em;
}

#presentation-title h1{
    font-size: 3em;
}

.presentation-subtitle{
    width: 36em;
}

.presentation-subtitle p{
    line-height: 1.7em;
}

#logos{
    display: flex;
    gap: 4.4em;
    margin: 4em 0;
}

#sites-ad{
    display: flex;
    gap: 3.6em;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.site{
    width: 30em;
}

.site img{
    flex: 1 1 30em;
    max-width: 100%;
}

.site h3{
    font-size: 1.8em;
    margin: 2% 0 ;
}

.site p {
    line-height: 1.5em;
}

#description{
    width: 100%;
    background-color: #444455;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}


.column{
    width: 30em;
    margin: 2em 0;
}

.column h2{
    font-size: 2em;
}

.column p {
    margin: 1em 0;
    line-height: 1.5em;
}

#signUp{
    margin: 3em 0;
    width: 65em;
}

.signUp-conteint h2{
    font-size: 2.1em;
    
}

.signUp-conteint p{
    margin: 1em 0;
    line-height: 1.5em;
    width: 30em;
}

footer{
    height: 60px;
    background-color: #444455;
    display: flex;
    justify-content: center;
    gap: 64%;
    align-items: center;
}

.icons img + img{
    margin-left: 5px;
}

@media (max-width: 450px) {

header{
    justify-content: space-between;
    margin: 0 5% 2em 5%;
    height: 7em;
}

header img{
    display: block;
}

nav ul{
    display: none;
}

button{
    display: none;
}

#conteint{
    flex-direction: row;
}

#presentation-title{
    width: 20em;
    margin: 0 5%;
}

#presentation-title h1{
    font-size: 2em;
}

.presentation-subtitle{
    margin: 0 5%;
    width: 20em;
}

.presentation-subtitle p{
    line-height: 1.5em;
}

#logos{
    justify-content: center;
    width: 19.5em;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 5em auto;
}

#sites-ad{
    justify-content: center;
}

.site{
    width: 21em;
}

.site img{
    width: 100%;
    height: 17em;
}

.site h3{
    font-size: 1.8em;
    margin: 2% 0 ;
}

#description{
    gap: 0;
}

.column{
    width: 21em;
}

#signUp{
    margin: 5em 1em 5em 1em;
    width: 25em;
}

.signUp-conteint h2{
    font-size: 2.1em;
}

.signUp-conteint p{
    line-height: 1.5em;
    width: 22em;
}

.signUp-conteint button{
    margin-top: 1em;
    border: none;
    display: block;
}

footer{
    display: flex;
    justify-content: space-around;
    gap: 0;
    align-items: center;
}
}

@media (min-width: 500px) and (max-width: 1000px) {

    header{
        justify-content: space-between;
        margin: 0 5% 2em 5%;
        height: 7em;
    }
    
    header img{
        display: block;
    }
    
    nav ul{
        display: none;
    }
    
    button{
        display: none;
    }
    
    #presentation-title{
        width: 45em;
        margin: 0 5%;
    }
    
    #presentation-title h1{
        font-size: 3.5em;
    }
    
    .presentation-subtitle{
        margin: 0 5%;
        width: 40em;
    }
    
    .presentation-subtitle p{
        line-height: 1.5em;
    }

    #logos{
        justify-content: center;
        width: 36em;
        flex-wrap: wrap;
        column-gap: 6em;
        row-gap: 1.5em;
        margin: 4em auto;
    }
    
    #sites-ad{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .site{
        width: 43em;
    }
    
    .site img{
        width: 100%;
        
    }
    
    .site h3{
        font-size: 1.8em;
        margin: 2% 0 ;
    }

    p{
        font-size: 1.1em;
    }

    #description{
        gap: 0;
        flex-wrap: wrap;
    }
    
    .column{
        width: 43em;
    }
    
    #signUp{
        margin: 5em 1em 5em 1em;
        width: 42.5em;
    }
    
    .signUp-conteint h2{
        font-size: 2.1em;
    }
    
    .signUp-conteint p{
        line-height: 1.5em;
        width: 30em;
    }
    
    .signUp-conteint button{
        margin-top: 1em;
        border: none;
        font-size: 1em;
        display: block;
    }
    
    footer{
        justify-content: space-around;
        gap: 22em;
    }
}